{% extends 'market/base.html' %}
{% load static %}
<!doctype html>

    {% block title %}{% endblock title %}
    {% block extra %}{% endblock extra %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    {% endblock style %}

    {% block content %}
    <div class="product-place">
        <div class="container">
            <div class="row">
                {% for shoe  in shoes %}
                <div class="col-sm-12 col-lg-3 product-holder">
                    <div class="product-col">
                        <img src={% static 'imgs/f55bf732-7fa9-4b38-8464-3332d97f879a.webp'%} alt="">
                        
                        <div class="products-text">
                            <p class="titile"> {{shoe.title}}</p>
                            <h4>$34</h4>
                        </div>
                        <p class="property">Hello</p>
                        <div class="btn-holder">
                            <a href="" class="btn-hero">Shop Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock content %}


{% block scripts %}{% endblock scripts %}

