{% extends 'market/base.html' %}
{% load static %}

{% block title %}
<title>Men's Products</title>
<style>
    .img-banner {
        max-width: 600px;
        height: 480px;
    }
</style>
{% endblock title %}





{% block style %}
<link rel="stylesheet" href={% static 'market/css/shoesS.css' %}>
{% endblock style %}





{% block content %}
<div class="campus">
    <h1>Our Orginal Shoes</h1>
    <p class="pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit .
        sequi a.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href='shoes/Sneakers'>
                    <img src={% static 'market/images/erik-mclean-e_qqXYMDyfM-unsplash.jpg' %} class="img-banner" alt="">
                    <div class="layer">
                        <h3>SNEAKERS</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href=""></a>
                <img src={% static 'market/images/nathan-dumlao-t8S97r9tyt0-unsplash.jpg' %} class="img-banner" alt="">
                <div class="layer">
                    <h3>BOOTS</h3>
                </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href="">
                    <img src={% static 'market/images/danilo-capece-NoVnXXmDNi0-unsplash.jpg' %} class="img-banner" alt="">
                    <div class="layer">
                        <h3>FORMAL</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}


    {% block scripts %}{% endblock scripts %}