{% extends 'market/base.html' %}
{% load static %}

{% block title %}
<title>Men's Products</title>

</style>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href={% static 'market/css/shoesS.css' %}>
{% endblock style %}





{% block content %}
<div class="campus">
    <h1>Our Orginal Shoes</h1>
    <p class="pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit .
        sequi a.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href='womens/Women-sport'>
                    <img src={% static 'market/images/3400517270m8_zmmm.jpg'%} class="img-banner" alt="">
                    <div class="layer">
                        <h3>SNEAKERS</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href="womens/Women-Boots">
                <img src={% static 'market/images/3209786020m8_zm.jpg' %} class="img-banner" alt="">
                <div class="layer">
                    <h3>BOOTS</h3>
                </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href="womens/Flat-Shoes">
                    <img src={% static 'market/images/3700273220m8_zm.jpg' %} class="img-banner" alt="">
                    <div class="layer">
                        <h3>FORMAL SHOES</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}


    {% block scripts %}{% endblock scripts %}