{% extends 'market/base.html' %}
{% load static %}

<!doctype html>

    {% block title %}{% endblock title %}
    {% block extra %}{% endblock extra %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    {% endblock style %}

    {% block content %}
    <section class="product-section py-5">
        <div class="product-holder">
            <div class="container bg-light main ">
                <div class="row product-col">
                    <div class="col-12 col-md-6 product-img">
                        <img src={% static 'imgs/f55bf732-7fa9-4b38-8464-3332d97f879a.webp'%} alt="">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="col-inner">
                            <h2 class="main-title">{{product.title}}</h2>
                            <p class="des">OD: 45999e</p>
                            <p class="price"><span>R$</span>{{product.price}}</p>
                            <div class="extra">
                                <span class="red"></span>
                                <span class="green"></span>
                                <span class="blue"></span>
                            </div>
                            <div class="main-des">
                                <span>BENEFITS</span>
                                <ul>
                                    <li>Brand: {{product.brand}} </li>
                                    <li>weave_types: {{product.weave_types}} </li>
                                    <li>type: {{product.type}} </li>
                                </ul>
                            </div>
                            <div class="counter">
                                <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                <input type="text" value="1">
                                <span class="up" onClick='increaseCount(event, this)'>+</span>
                            </div>
                            <a href="" class="btn-hro"> Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}


{% block scripts %}
<script>
    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 0 : value;
            value--;
            input.value = value;
        }
    }

</script>
{% endblock scripts %}

