{% extends 'market/base.html' %}
{% load static %}

{% block title %}
<title>Women's Products</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href={% static 'market/css/shoesS.css' %}>

<style>
    .img-banner {
        max-width: 100%;
        height: 505px;
    }
</style>
{% endblock style %}



{% block content %}
<div class="campus">
    <h1>Our Orginal Shoes</h1>
    <p class="pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit .
        sequi a.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href='womens/Women-sport'>
                    <img src={% static 'market/images/normal (1).jpg' %} class="img-banner" alt="">
                    <div class="layer">
                        <h3>SNEAKERS</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href="womens/Women-Boots">
                <img src={% static 'market/images/normal.jpg' %} class="img-banner" alt="">
                <div class="layer">
                    <h3>BOOTS</h3>
                </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 campus-col">
                <a href="womens/Flat-Shoes">
                    <img src={% static 'market/images/normal (4).jpg' %} class="img-banner" alt="">
                    <div class="layer">
                        <h3>flat-shoes</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}


    {% block scripts %}{% endblock scripts %}